@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap'); 
$primary-color:  #F9F9F9;
$secondary-color: #282828;
$yellow: rgb(255, 238, 48);
$blue: #15156e;
$font-base: 'Roboto', sans-serif;
$font-header: 'Lora', serif;
$base-font-size: 16px;
$font: #4f4f59;


$background-gradient: linear-gradient(
  90deg,
  #e3f1ff 6%,
  #e3f1ff  29%,
  #feffdd 50%,
  #feffee 72%,
);