@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap'); 
$primary-color:  #F9F9F9;
$secondary-color: #282828;
$yellow: rgb(255, 238, 48);
$blue: #8DB600;
$font-base: 'Roboto', sans-serif;

$font-header: 'Lora', serif;
$base-font-size: 16px;

