@import "../../styles/variables";

body {
  background: $background-gradient;
  margin: 0;
  width: 100vw;
  font-family: $font-header;
  color: white;
  ul {
    list-style-type: none;
  }
  // @media (min-width: 768px) {
  //   background-color: rgb(247, 0, 255);
  //   // Conditional styles here for width >= 768px
  // }
  
}


