@import "../../styles/mixins";
@import "../../styles/variables";

#our-story {
    margin-top: 80px;


    .text-box {
        @include text-box;
        background: none;
   }

   ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    color: black;
   }


       
       
    }

