@import "../../styles/mixins";
@import "../../styles/variables";

// mobile first design
main {
  @include flex-center;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  color: white;
  margin-top: 70px;

  .hero {
    padding: 1rem;
    text-align: left;
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      span {
        color: #15156e;
      }
    }
    .call_to_action {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      button {
        padding: 12px 16px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 50px;
        background: rgb(0, 88, 148);
        background: linear-gradient(
          90deg,
          rgba(0, 88, 148, 1) 15%,
          rgba(31, 173, 255, 1) 100%
        );
      }

      .first {
        color: white;
        border: 1.5px solid white;
        height: 50px;
      }

      .second {
        color: white;
        background: none;
        border: 1.5px solid white;
      }
      .second:hover {
        background: rgb(0, 88, 148);
        background: linear-gradient(
          90deg,
          rgba(0, 88, 148, 1) 15%,
          rgba(31, 173, 255, 1) 100%
        );
        color: white;
        border: 1.5px solid white;
        height: 48px;
      }
    }
  }

  .image-wrapper {
    width: 100vw;
    padding: 0;
    img {
      width: 100%;
    }
  }

    @media (min-width: 987px) {
        @include flex-center;
        flex-direction: row;
        margin-top: 15%;

        .hero {
            flex: 1;
            order: 2;
            padding-left: 3rem;
          

            h1 {
                font-size: 3.5rem;
            }

            .call_to_action {
                flex-direction: row;


            button {
                width: fit-content;
            }

            }
            // flex-direction: column;

        }

        .image-wrapper {
            padding-left: 4rem;
            width: 55%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }

    }
   
  //     width: 100%;
  //     overflow: scroll;
  //     min-height: 100vh;
  //     color: $secondary-color;

  //     .hero {
  //         flex: 1;
  //         .call_to_action {
  //             button {
  //               margin: 1rem;
  //               margin-top: 1.5rem;
  //               margin-left: 0;
  //               color: rgb(66, 66, 66);
  //               padding: 12px 16px;
  //               font-size: 17px;
  //               font-weight: bold;
  //               border-radius: 50px;
  //             }

  //             .first {
  //               background-color: yellow;
  //               border: none;
  //               height: 50px;
  //             }

  //             .second {
  //               background: none;
  //               border: 1.5px solid rgb(107, 107, 107);
  //             }
  //             .second:hover {
  //               background-color: yellow;
  //               border: none;
  //               height: 50px;
  //             }
  //       }

  //     }

  //     .image-wrapper {
  //     padding-left: 4rem;
  //     width: 50%;
  //     height: auto;
  //     margin: 0 auto;
  //     overflow: hidden;

  //     img {
  //       width: 100%;
  //       height: auto;
  //     //   display: block;
  //     //   object-fit: cover;
  //     }
  //   }
  //   }
}

// #resettlement {
//   p {
//     padding: 10em 25em;
//   }
// }
