@import "../../styles/mixins";
@import "../../styles/variables";

// mobile first design
main {
  @include flex-center;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  color: $font;
  margin-top: 70px;

  .hero {
    padding: 1rem;
    text-align: left;
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      span {
        color: #008a50;
      }
    }
    .call_to_action {
      display: flex;
   justify-content: center;
      gap: 1rem;
      button {
        padding: 12px 16px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        border-radius: 50px;
        border: 1.5px solid $blue;
        height: 48px;
        background: linear-gradient(
          90deg,
          rgba(0, 88, 148, 1) 15%,
          rgba(31, 173, 255, 1) 100%
        );
      }

      button:hover {
        background: #68ffc0;
        color: $blue;
      }

      .first {
        color: white;
        border: 1.5px solid white;
        height: 50px;
      }

      .second {
        color: white;
        background: none;
        border: 1.5px solid white;
    
        background: rgb(0, 88, 148);
        background: linear-gradient(
          90deg,
          rgba(0, 88, 148, 1) 15%,
          rgba(31, 173, 255, 1) 100%
        );
      }
    }
   
  }

  #story {
    background-color: $blue;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
      color: white;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    
    }
    .image-wrapper {
      width: 100vw;
      img {
        width: 100%;
      }
    }
  }

 
  @media (min-width: 987px) {
    @include flex-center;
    flex-direction: row;
    margin-top: 15%;

    .hero {
      flex: 1;
      order: 2;
      padding-left: 3rem;

      h1 {
        font-size: 3.5rem;
      }

      .call_to_action {
        flex-direction: row;

        button {
          width: fit-content;
        }
      }
      // flex-direction: column;
    }

    .image-wrapper {
      padding-left: 4rem;
      width: 55%;
      height: auto;
      margin: 0 auto;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
