@import "../../styles/mixins";
@import "../../styles/variables";

main {
    flex-direction: row;
    margin-top: 90px;
    width: 100%;
    overflow: hidden;

    @media (max-width: 987px) {
     flex-direction: column;
     background-color: red;
     height: 100vw;
     
     .hero {
        order: -1;
        margin-left: 3rem;
        flex: 0;
        
     }
     .image-wrapper {
        flex: 1; 
        width: 100%;
        padding: 0;
      // Conditional styles here for width <= 479px
    }
}

    @include flex-center;

    .image-wrapper {
        padding-left: 4rem;
        width: 50%;  
        height: auto;
        margin: 0 auto;        
        overflow: hidden;  
        
        img {
            width: 100%;           
            height: auto;           
            display: block;         
            object-fit: cover;      
          }
        
      }
      
      
      
  
    .hero {
      flex: 1;
      padding: 3rem;
      text-align: left;
      h1 {
        color: rgb(27, 27, 204);
        margin-bottom: 0em;
        font-size: 3rem;
        font-weight: 600;
      }
      ul {
        margin-top: 0em;
        font-style: italic;
        padding-left: 0px;
        font-size: 2em;
      }
      span {
        background-color: $yellow;
        padding: 0 1rem;
      }
    }
 
  }

  .call_to_action {
  button {
    margin: 1rem;
    margin-top: 1.5rem;
    margin-left: 0;
    color: rgb(66, 66, 66);
    padding: 12px 16px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
  } 

  .first {
    background-color: yellow;
    border: none;
    height: 50px;
  }

  .second {
    background: none;
    border: 1.5px solid  rgb(107, 107, 107);
  }
  .second:hover {
    background-color: yellow;
    border: none;
    height: 50px;
  }

 
}

// #resettlement {
//   p {
//     padding: 10em 25em;
//   }
// }

  