@import "../../styles/mixins";
@import "../../styles/variables";

*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}


#nav-bar {
  top: 0;
  transition: top 0.3s;
  background-color: rgb(255, 255, 255);
  height: 80px;
  font-family: $font-base;
  width: 100vw;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    font-weight: bold;
    color: $blue;
    cursor: pointer;
    img {
      width: 80px;
      height: auto;
    }
  }

  .hamburger-icon {
    color: black;
  }
  .close-icon {
    margin-right: 18px;
  }

  .dropdown {
    // transition: transform 0.5s ease, visibility 0s 0.5s, opacity 0.5s ease;
    position: fixed;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    width: 100vw;
    background-color: white;
    top: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(255, 253, 253, 0.2);
    .menu {
      margin-bottom: 1rem;
      a {
        margin: 0 0.75rem;
        color: $blue;
        font-weight: bold;
        font-size: 18px;
        font-size: 1rem;
        text-align: left;
        padding: 16px 6px;
        text-decoration: none;
        display: block;
        &:hover {
          background-color: #128ad3;
          color: white;
        }
      }
      .donate-button {
        text-decoration: none;
        margin-top: 3rem;
        @include button-style;
        @include neo-button;
        border-color: rgb(235, 119, 138);
        color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 25px;
          height: auto;
          margin: 10px;
        }
      }
    }
  }
}

@media (min-width: 987px) {
}
