.flag {
    margin: auto;
    padding-left: 1em;
    width: 5em;
  
    .white {
      background-color: white;
      height: 1em;
    }
    .yellow {
      background-color: #ffee30;
      height: 1em;
    }
    .blue {
      background-color: #0000ff;
      height: 1em;
    }
  }
  h1 { 
    padding-left: 1em;
    font-size: 1.3em;
    flex: 1 1 0;
  }